#topheader {
	background: url(slide-00-320.svg) no-repeat;
	background-size: cover;
	height: 726px;
	background-color: rgba(37, 4, 58, 0.95);
	display: inline-block;
	width: 100%;
}

body {
	margin: 0;
}

#headimg {
	background-color: black;
}

#headimage {
	height: inherit;
	position: absolute;
}

#download {
	color: white;
    font-size: 20px;
    z-index: 10;
    float: right;
    margin-right: 35%;
    height: 60px;
    background: transparent;
    border: solid;
	text-transform: uppercase;    
	border-color: #ff9600;
    width: 290px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-width: 2px;
    font-weight: 100;
    margin-top: 10px;
    font-family: "Maven Pro", "Open Sans", "sans-serif";
    letter-spacing: 3px;
    font-weight: lighter;
}

#download:hover {
	background: #ff9600;
	color: white;
}

#headText {
	color: white;
}

.scroll {
	background: none;
    border-color: #ff9600;
    color: #ff9600;
    font-size: 10px;
}

#name {
/*    font-family: "Maven Pro"; */
    font-size: 90px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #eee;
    letter-spacing: 10px;
    margin-top: 140px;

}

#profilepic {
	border-radius: 50%;
    height: 250px;
}


#aboutme {
    background-color: #552db5;
    color: white;
    width: 100%;
    font-family: helvetica;
    height: auto;
    display: inline-block;
}

#general {
	float: left;
	width: 70%;
	font-family: "tahoma"
}

.sectionHead {
    text-align: center;
    font-size: xx-large;
    font-weight: lighter;
    font-family: "Maven Pro", "Open Sans", "sans-serif";
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

#general > h3, #general > h4 {
	font-weight: lighter;
	margin-left: 25px;
	margin-bottom: auto;
	font-family: helvetica;
}

#general > h4 {
	margin-top: 0px;
}

#general > p {
	font-family: helvetica;
	margin-left: 25px;
	font-weight: lighter;
}

.sumImage {
	width: 205px;
	vertical-align: middle;
	margin-right: 50px;
}

#icons {
	width: 100%;
	margin-left: 25px;
}

#oddone {
	width: 300px;
}

#navBar {
	text-align: end;
	position: fixed;
    background-color: rgba(181, 184, 193, 0.22);
    color: white;
    font-family: helvetica;
    width: 100%;
    font-size: larger;
}

.link {
	display: inline;
	margin-right: 20px;
}

#eduTime {
	width: 100%;
	display: inline-block;
}

#skillset {
    width: 100%;
    display: inline-block;
    background-color: rgba(127, 255, 212, 0.58);
    height: 500px;
}

#techskills {
	 width: 50%;
	 padding-left: 25px;
	 float: left;
}

.skillbar {
    background-color: white;
    height: 5px;
    margin-top: 7px;
}

#skill1 {
	width: 90%;
}

#techskills li {
	margin-bottom: 10px;
}

#techskills ul {
    list-style: none;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: "Maven Pro";
}

#skill2 {
	width: 90%;
}

#skill3 {
	width: 85%;
}

#skill4 {
	width: 80%;
}

#skill5 {
	width: 70%;
}

#techskills h3, #lang h3, #know h3 {
    font-size: 21px;
    letter-spacing: 3px;
    text-align: center;
}

#skill6 {
	width: 80%;
}

#skill7 {
	width: 85%;
}

#lang, #know {
	float: left;
	width: 50%;
	padding-left: 5px;
}

#lang p, #know p {
	text-align: center;
    font-family: "maven pro";
    letter-spacing: 3px;
    font-size: large;
    line-height: 2;
}

#proj {
	width: 100%;
	display: inline-block;
	background-color: white;
}

#navBar li {
    display: inline;
    list-style: none;
    font-family: "Maven Pro", "Open Sans", "sans-serif";
    letter-spacing: 3px;
    margin-right: 20px;
    text-transform: uppercase;
}

#navBar {
    text-align: end;
    position: fixed;
    background-color: black;
    color: white;
    font-family: helvetica;
    width: 100%;
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    z-index: 1;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

#end {
    background-color: black;
    color: white;
    font-family: "Maven Pro", "Open Sans", "sans-serif";
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    padding: 15px;
}

.fa {
    color: red;
}

.fa-2x {
  color: white;
}

#social {
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  #headimage {
    display: none;
  }

  #topheader, #aboutme, #end{
    width: 100%;
    float: none;
  } 

  #icons {
    display: none;
  }

  #navBar {
    text-align: center;
    font-size: small;
    padding-bottom: 0px;
    padding-right: 0px;
  }

  #name {
    font-size: x-large;
    margin-top: 75px;

  }

  #download {
    height: 49px;
    width: 215px;
    margin-top: -7px;
    font-size: 15px;
    display: block;
    margin-right: 0px;
    margin: auto;
    float: none;
  }

  #aboutme {
    height: auto;
    text-align: center;
  }

  #aboutme p {
    text-align: justify;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #general {
    width: 100%;
  }

  #general h3, #general h4 {
    margin-left: 0px;
  }

  #skillset {
    height: auto;
  }

  #techskills {
    padding-left: 0px; 
  }

  #techskills ul {
    text-align: start;
    padding-left: 4px;
    font-size: small;
  }

  #lang p, #know p {
    font-size: small;
  }

}

@media screen and (device-width: 768px) {
  #icons {
    display: none;
  }

  #topheader {
    width: 100%;
    background-blend-mode: lighten;
  }

  #headimage {
    display: none;
  }

  #profilepic {
    margin-left: 10px;
  }

  #techskills ul {
    padding-left: 4px;
  }
  #techskills {
    padding-left: 0px; 
  }

  #aboutme {
    height: auto;
    text-align: center;
  }

  #aboutme p {
    text-align: justify;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #general {
    width: 100%;
  }

  #general h3, #general h4 {
    margin-left: 0px;
  }
  
  #navBar {
    text-align: center;
  }

  #download {
    margin-right: 32%;
  }

}

